<html>
<title>Generate Excel and ZIPs</title>
<body>
	
	<form action="generate_all/">
		{% for cycle in cycles %}
			<option value="{{ cycle.id }}">{{ cycle.cycle_date }}</option>
		{% endfor %}
		<input type="submit" value="Email Excel and ZIP" />
	</form>
	
</body>